{% load staticfiles %}
<script src="/static/Doodlers/jquery-1.11.3.min.js"></script>
<script src="/static/Doodlers/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/Doodlers/underscore.js"></script>
<script src="/static/Doodlers/backbone.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<h1>{{doodle.title}}</h1>

<form action="{% url 'Doodlers:comment' doodle.id %}" method="post">
	{% csrf_token %}
	<textarea class="form-control" name="comment_text" form="usrform">
	</textarea>
	<input type="submit" value="Comment">
</form>

<ol>
{% for comment in comments %}
	{% for key, score in scores.items %}
		{% if key == comment.id and score > 0%}
		<li>
			{{comment.comment_text}} 
		</li>
    	{% endif %}
    {% endfor %}
{% endfor %}
{% if num_bad > 0 %}
	<li>
		{{num_bad}} comment(s) have been removed for potentially bad behavior
	<li>
{% endif %}
</ol>